In [4]:
import pandas as pd 
import numpy as np

In [5]:
diabetes_df = pd.read_csv("dataset/diabetes.csv")

In [6]:
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
diabetes_df.shape

(768, 9)

In [17]:
#creating a data frame with random values 
random_df = pd.DataFrame(np.random.rand(20,10))
print(random_df)

           0         1         2         3         4         5         6  \
0   0.373782  0.003861  0.504474  0.764220  0.465118  0.421875  0.032054
1   0.771226  0.544164  0.217550  0.423815  0.654915  0.454595  0.195709
2   0.108389  0.647922  0.470974  0.140928  0.924882  0.932960  0.695365
3   0.917757  0.543589  0.027541  0.694107  0.651852  0.573867  0.561990
4   0.497231  0.143809  0.069686  0.282129  0.784931  0.700738  0.468416
5   0.763427  0.126526  0.774210  0.384885  0.307092  0.331295  0.575401
6   0.647734  0.906966  0.263836  0.577213  0.019172  0.266252  0.272555
7   0.209769  0.270189  0.368617  0.397344  0.471620  0.095236  0.795804
8   0.914038  0.484397  0.951001  0.213669  0.015339  0.409494  0.728924
9   0.102062  0.108011  0.028537  0.968637  0.594617  0.321787  0.734636
10  0.764729  0.795052  0.293819  0.066716  0.788956  0.296417  0.285294
11  0.569010  0.981467  0.440538  0.836547  0.546228  0.090385  0.041077
12  0.705729  0.682461  0.849278  0.458208  0.459212  0.654606  0.586000
13  0.865619  0.335280  0.361226  0.783503  0.670225  0.136067  0.765760
14  0.479024  0.554542  0.244182  0.081093  0.564967  0.347521  0.283957
15  0.070199  0.846364  0.205284  0.328014  0.375013  0.949626  0.131410
16  0.286200  0.663362  0.041928  0.877873  0.558781  0.901942  0.179918
17  0.897928  0.820247  0.192438  0.047768  0.063983  0.752561  0.096960
18  0.011604  0.236822  0.956737  0.737177  0.372533  0.400007  0.110995
19  0.210279  0.311699  0.792408  0.589974  0.481752  0.769101  0.125198

           7         8         9
0   0.160587  0.318795  0.193661
1   0.864670  0.947625  0.871506
2   0.154271  0.947722  0.677679
3   0.382668  0.811942  0.049911
4   0.108312  0.892983  0.555954
5   0.053604  0.598768  0.569539
6   0.252345  0.733720  0.185375
7   0.183642  0.065688  0.893970
8   0.099546  0.494523  0.934882
9   0.871439  0.576620  0.868789
10  0.940622  0.809755  0.305297
11  0.089937  0.462219  0.629722
12  0.988806  0.694865  0.323044
13  0.908536  0.899222  0.837563
14  0.098992  0.256320  0.856168
15  0.846722  0.430919  0.013274
16  0.219148  0.687402  0.605827
17  0.353111  0.096332  0.050847
18  0.350610  0.824839  0.239052
19  0.194898  0.953585  0.467179

In [15]:
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.502231,0.762320,0.256858,0.126677,0.053811,0.954775,0.429031,0.649417,0.351837,0.571075
1,0.722907,0.016531,0.974476,0.499053,0.690429,0.645302,0.613340,0.855612,0.724195,0.040248
2,0.355537,0.699841,0.248370,0.274992,0.408037,0.650532,0.761007,0.174312,0.805913,0.537187
3,0.370279,0.406560,0.175391,0.068466,0.693229,0.586263,0.467399,0.887817,0.617644,0.555502
4,0.417174,0.053179,0.840702,0.188784,0.220838,0.763119,0.554297,0.326657,0.591014,0.202947

In [18]:
random_df.shape

(20, 10)

In [21]:
#inspecting a dataframe 
#finding the row and columns
random_df.shape

(20, 10)

In [22]:
#last 5 rows of the dataframe
random_df.tail()

,0,1,2,3,4,5,6,7,8,9
15,0.070199,0.846364,0.205284,0.328014,0.375013,0.949626,0.131410,0.846722,0.430919,0.013274
16,0.286200,0.663362,0.041928,0.877873,0.558781,0.901942,0.179918,0.219148,0.687402,0.605827
17,0.897928,0.820247,0.192438,0.047768,0.063983,0.752561,0.096960,0.353111,0.096332,0.050847
18,0.011604,0.236822,0.956737,0.737177,0.372533,0.400007,0.110995,0.350610,0.824839,0.239052
19,0.210279,0.311699,0.792408,0.589974,0.481752,0.769101,0.125198,0.194898,0.953585,0.467179

In [23]:
#informations about the dataframe
random_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     float64
 1   1       20 non-null     float64
 2   2       20 non-null     float64
 3   3       20 non-null     float64
 4   4       20 non-null     float64
 5   5       20 non-null     float64
 6   6       20 non-null     float64
 7   7       20 non-null     float64
 8   8       20 non-null     float64
 9   9       20 non-null     float64
dtypes: float64(10)
memory usage: 1.7 KB

In [24]:
#finding the number of missing values 
random_df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [27]:
#counting the values based on the labels 
diabetes_df.value_counts("Outcome")

Outcome
0    500
1    268
Name: count, dtype: int64

In [28]:
#group the valuse based on the mean
diabetes_df.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [29]:
#Statistical Measures 
diabetes_df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [30]:
diabetes_df.shape

(768, 9)

In [31]:
#mean value - column wise
diabetes_df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [32]:
#standard deviation - colum wise
diabetes_df.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [33]:
#minimum value 
diabetes_df.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [34]:
#maximum value in each coloumn 
diabetes_df.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [35]:
# all the statistical measure about the dataframe
diabetes_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000