In [1]:
import pandas as pd 
import numpy as np

In [9]:
#string 
Country = ["Ban", "Ind", "Pak", "Aus", "Ger" ]
pd.Series(Country)

0    Ban
1    Ind
2    Pak
3    Aus
4    Ger
dtype: object

In [10]:
#custom index
marks = [67, 57, 78,89]
subjects = ["Math", "English", "Science", "Bangla"]
pd.Series(marks, index=subjects)

Math       67
English    57
Science    78
Bangla     89
dtype: int64

In [13]:
#setting a name 
marks = pd.Series(marks , index=subjects, name = "Naim Sheikh")
marks

Math       67
English    57
Science    78
Bangla     89
Name: Naim Sheikh, dtype: int64

In [31]:

movie = pd.read_csv("dataset/bollywood.csv", index_col='movie')

In [32]:
#sample
movie.sample(5)

                                    lead
movie
Baabarr               Mithun Chakraborty
Manjunath (film)            Anjori Alagh
Dehraadun Diary           Adhyayan Suman
Chor Chor Super Chor     Deepak Dobriyal
Bluffmaster!           Abhishek Bachchan

In [21]:
movie.head()

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar

In [22]:
movie.tail()

                       movie              lead
1495  Hum Tumhare Hain Sanam    Shah Rukh Khan
1496     Aankhen (2002 film)  Amitabh Bachchan
1497         Saathiya (film)      Vivek Oberoi
1498          Company (film)        Ajay Devgn
1499    Awara Paagal Deewana      Akshay Kumar

In [33]:
#value_counts -> movie 
movie.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Kashmira Shah        1
Kartik Elangovan     1
Karisma Kapoor       1
Karan Sharma         1
Zulfi Sayed          1
Name: count, Length: 566, dtype: int64

In [34]:
vk = pd.read_csv('dataset/kohli_ipl.csv',index_col='match_no')

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [44]:
sorted_vk = vk.sort_values(by='runs', ascending=False).head().values[0]
sorted_vk

array([113], dtype=int64)

In [46]:
#short_index -> inplace -> movies
movie.sort_index()

                                        lead
movie
1920 (film)                 Rajniesh Duggall
1920: London                   Sharman Joshi
1920: The Evil Returns           Vicky Ahuja
1971 (2007 film)              Manoj Bajpayee
2 States (2014 film)            Arjun Kapoor
...                                      ...
Zindagi 50-50                    Veena Malik
Zindagi Na Milegi Dobara      Hrithik Roshan
Zindagi Tere Naam         Mithun Chakraborty
Zokkomon                     Darsheel Safary
Zor Lagaa Ke...Haiya!          Meghan Jadhav

[1500 rows x 1 columns]

In [47]:
#count 
vk.count()

runs    215
dtype: int64

In [49]:
vk.size

215

In [50]:
# sum -> Product
vk.sum()

runs    6634
dtype: int64

In [55]:
subs = pd.read_csv('dataset/subs.csv')

In [60]:
#mean -> median -> mode -> std - > var 
subs.mean()
print(vk.median())
print(movie.mode())
print(subs.std())
print(vk.var())

runs    24.0
dtype: float64
           lead
0  Akshay Kumar
Subscribers gained    62.675023
dtype: float64
runs    688.002478
dtype: float64

In [61]:
vk.describe()

             runs
count  215.000000
mean    30.855814
std     26.229801
min      0.000000
25%      9.000000
50%     24.000000
75%     48.000000
max    113.000000